<%-include('header') -%>

<header>
    <h1>Cocktail Menu</h1>
    
    <ul class="navbar-nav">
      <input type="text" id="searchInput" placeholder="Search cocktails">
    <button id="searchButton">Search</button>
       <!--<li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
        </li>-->
        <div class="dropdown">
            <button class="dropbtn">Welcome, user</button>
            <div class="dropdown-content">
              <a href="/logout">Logout</a>
            </div>
          </div>
        <!--<li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>-->
    </ul>
</header>
<main>
    <div class="cocktail-grid" id="cocktailList"></div>
</main>
<div id="cocktailDetails"></div>

<footer>
    &copy; 2023 Cocktail Bar. All rights reserved.
</footer>


<%-include('footer') -%>